In [197]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_complete = "Resources/schools_complete.csv"
student_complete = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_complete = pd.read_csv(school_complete)
student_complete = pd.read_csv(student_complete)

# Combine the data into a single dataset.  
school_student_complete = pd.merge(school_complete, student_complete, how="left", on=["school_name", "school_name"])
school_student_complete

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [198]:
#Total schools
total_schools =school_student_complete["school_name"].nunique()
total_schools

15

In [199]:
#Total students
total_students = school_student_complete["Student ID"].nunique()
total_students

39170

In [200]:
#Total Budget
total_budget = school_student_complete["budget"].sum()
total_budget

82932329558

In [201]:
#Average Math Score
average_math_score = school_student_complete["math_score"].mean()
average_math_score

78.98537145774827

In [233]:
#Average Reading Score
average_reading_score = school_student_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [203]:
# % Passing Math 
passing_math = school_student_complete[school_student_complete["math_score"] >= 70]
math_count = passing_math["student_name"].count()
math_percent = math_count / total_students * 100
math_percent

74.9808526933878

In [204]:
# % Passing Reading
passing_reading = school_student_complete[school_student_complete["reading_score"] >=70]
passing_count = passing_reading["student_name"].count()
reading_percent = passing_count / total_students * 100
reading_percent

85.80546336482001

In [205]:
# % Overall Passing
overall_passing = school_student_complete[(school_student_complete["math_score"] >=70) & (school_student_complete["reading_score"] >=70)]
overallpassing_count = overall_passing["student_name"].count()
overallpassing_percent = overallpassing_count / total_students * 100
overallpassing_percent

65.17232575950983

In [261]:
#Distrcit Summary Table 
table_df = pd.DataFrame({"Total School": [total_schools], "Total Students": [total_students], "Total Budget": [total_budget], "Average Math Score": [average_math_score], "Average Reading Score": [average_reading_score], "% Passing Math": [math_percent], "% Passing Reading": [reading_percent], "% Overall Passing": [overallpassing_percent]})
table_df

,Total School,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,82932329558,78.985371,81.87784,74.980853,85.805463,65.172326

In [350]:
#Formatting District Summary "Total Budget"
table_df["Total Budget"] = table_df["Total Budget"].map('${:,.2f}'.format)

ValueError: Unknown format code 'f' for object of type 'str'

In [207]:
#School Summary - School name/change column name and pulling table
school_student_complete.columns
school_student_complete = school_student_complete.rename(columns={"type": "School Type"})
school_student_complete.columns

Index(['School ID', 'school_name', 'School Type', 'size', 'budget',
       'Student ID', 'student_name', 'gender', 'grade', 'reading_score',
       'math_score'],
      dtype='object')

In [260]:
#School name SUMMARY
school_name_total = school_student_complete["school_name"].value_counts ()
school_name_total

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [273]:
#Top 5 - Highest Performing School by Overall all % passing 
school_type=school_complete.set_index(["school_name"])["type"]
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [276]:
#Total Students in EACH SCHOOL
students_per_school= student_complete["school_name"].value_counts()
students_per_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [279]:
#Total School BUDGET
school_budget_total = school_complete.groupby(["school_name"])["budget"].mean()
school_budget_total

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [282]:
#Student Budget per Student
per_stud_budget = school_budget_total /students_per_school
per_stud_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [285]:
#Average math score per school
average_math = student_complete.groupby(["school_name"])["math_score"].mean()
average_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [289]:
average_reading = student_complete.groupby(["school_name"])["reading_score"].mean()
average_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [293]:
#PERCENT of Math Passing Per School
passing_math = school_student_complete[school_student_complete["math_score"] >= 70]

schools_math_score = passing_math["school_name"].value_counts()
schools_math_score.head()

schools_per_math = schools_math_score / students_per_school *100
schools_per_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: school_name, dtype: float64

In [294]:
#PERCENT of Reading Per School
passing_reading = school_student_complete[school_student_complete["reading_score"] >=70]

schools_read_score = passing_reading["school_name"].value_counts()
schools_read_score.head ()

schools_per_read = schools_read_score / students_per_school *100
schools_per_read

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: school_name, dtype: float64

In [295]:
#OVERALL Passing Rate (Average)

overall = schools_per_math + schools_per_read/ students_per_school
overall

Bailey High School       66.696530
Cabrera High School      94.185705
Figueroa High School     66.015849
Ford High School         68.338554
Griffin High School      93.458542
Hernandez High School    66.770413
Holden High School       92.731271
Huang High School        65.711799
Johnson High School      66.074611
Pena High School         94.694331
Rodriguez High School    66.386652
Shelton High School      93.921553
Thomas High School       93.331687
Wilson High School       93.910004
Wright High School       93.387006
Name: school_name, dtype: float64

In [300]:
#New DataFrame for School Summary

school_summary=pd.DataFrame({"School Type": school_type, "Total Students": students_per_school,"Total School Budget": school_budget_total, "Per Student Budget": per_stud_budget,
"Average Math Score":average_math, "Average Reading Score":average_reading,"% Passing Math": schools_per_math,"% Passing Reading": schools_per_read,"% Overall Passing": overall})
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,66.696530
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,94.185705
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,66.015849
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,68.338554
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,93.458542
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,66.770413
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,92.731271
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,65.711799
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,66.074611
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,94.694331
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,66.386652
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,93.921553
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,93.331687
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,93.910004
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,93.387006

In [337]:
#TOP PERFORMING SCHOOLS
# top_school = school_summary.sort_values(["% Passing Math", "% Passing Reading", "% Overall Passing"],ascending=True)
# top_school.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,65.711799
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,66.015849
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,66.074611
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,66.386652
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,66.696530

In [347]:
#Formatting School Summary
school_summary ["Total School Budget"] = school_summary["Total School Budget"].map('${:,.2f}'.format)
# school_summary["Per Student Budget"] = school_summary["Per Student Budget"]("${:,.2f}".format)
school_summary

ValueError: Unknown format code 'f' for object of type 'str'